body {
    background: linear-gradient(blue, darkcyan);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

table {
    border-radius: 5px;
    margin-top: 40;
    border: none;
    height: auto;
    width: 80%;
    background-color: #fff;
    padding: 5px;
    border: none;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

tr {
    background: none;
}

td {
    padding: 5px;
}

input {
    text-align: left;
    width: 100%;
    padding: 10px;
    background-color: #ddd;
}

select {
    text-align: left;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ddd;
}

.tooltiptext {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    width: auto;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    /* Position the tooltip */
    position: relative;
    z-index: 1;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.4s;
    top: 0;
    left: 10;
    color: #fff;
    background-color: #000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

textarea {
    max-width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid seagreen;
    background-color: #ddd;
    width: 100%;
    font-size: 15px;
    outline: none;
}